#test{
    background-color: burlywood;
}

#color
{
    color: rgb(5, 1, 1);
    margin-left: 10px;
  
}
#navId{
    height: 70px;

}
#color1{
    height: 70px;
    color: rgb(0, 0, 0);
    text-decoration: solid;
    font-weight: bold;
    
   
}
#color2
{
    color:black;
 
}

#hvr:hover{
    height: 80px;
    width: 70px;
}
#video{
    margin-left: 25%;
    
}
#fire{
    height: 150px;width: 20%;position: absolute;margin-left: 78%;margin-top: -210px;
}
#height{
    height: 2500px;width: 100%;background-color:#50478a;color: white;
}
#info{
    height:2300px;width: 100%;background-color:#50478a;color: white;
}
#home{
    height: 4750px;width:100%; background-color: #50478a;color:aliceblue;
}
#con{
    background-color: #50478A; height: 510PX;width: 100%;
}

@media screen and (max-width:893px)
{
    #video{
        margin-left: 0%;
        width:100%;
    }
    #con{
        height: 700px;
    }
    #info{
        height: 3000px;
    }
    #home{
        height: 5400px;
    }
    #fire{
        margin-left: 60%;
    }
    #height{
        height: 4400px;
        width: 100%;
    }
#map{
    margin-left: 500px;
}
#about{
height: 1500px;
}

#color1{
margin-left: -25px;
}
}
#card{
    height: 150px;
   position: absolute;
}
#style{
    color: black;
    text-align: center;
}
#about{
    height: 600px;background-color: #50478A;color: white;
}

